// обнуление стилей
@import 'null-style';
// шрифты
@import '../fonts/fonts';
// переменные
@import '../source/var';
// шаблоны
@import '../source/templ';
// миксины
@import '../source/mixin';
// медиа стили
@import "media-style";

html {
    font-size: 16px;
}

.index-container {
    max-width: $maxWidth;
    height: 100%;

    .header {
        width: 100%;
        // header__inner
        @import '../blocks/header/header__inner-style';
    }

    .index-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100% - 8rem);

        // навигационная панель
        .content__info {
            @import '../blocks/content/info__nav/info__nav-style';
        }

        // canvas
        @import '../blocks/content/content__drowing/content__drowing-style.scss';

        // barplot
        .content__barplot {
            flex-grow: 1;
            min-width: 150px; // !
            max-width: 200px; // !
            height: 100px;

            .barplot__inner {
                width: 100%;
                height: 100%;
                outline: 1px solid #000;
            }
        }

        .content__barplot_padding {
            padding: $infoNavPad;
        }
    }

    .index-content_pading {
        padding-bottom: 2 * $infoNavPad;
    }
}