// HTML
@media (max-width: 425px) {
    html {
        font-size: 10px !important;
    }
}

@media (min-width: 426px) and (max-width: 600px) {
    html {
        font-size: 12px !important;
    }
}

@media (min-width: 601px) and (max-width: 1300px) {
    html {
        font-size: 13px !important;
    }
}

// width > max-width
@media (min-width: 1301px) {
    html {
        font-size: 16px !important;
    }
}

@media (max-width: 454px) {
    .index-content_pading {
        padding-right: 0 !important;
    }
}