// обнуление стилей
@import 'null-style';
// шрифты
@import '../fonts/fonts';
// переменные
@import '../source/var';
// шаблоны
@import '../source/templ';
// миксины
@import '../source/mixin';
// медиа стили
@import "media-style";

html {
    font-size: 16px;
}

.index-container {
    max-width: $maxWidth;
    height: 100%;

    .header {
        width: 100%;
        // header__inner
        @import '../blocks/header/header__inner-style';
    }

    .index-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100% - 8rem);

        // навигационная панель
        .content__info {
            @import '../blocks/content/info__nav/info__nav-style';
        }

        // canvas
        @import '../blocks/content/content__drowing/content__drowing-style.scss';
    }

    .index-content_pading {
        padding: 0 $infoNavPad 2 * $infoNavPad 0;
    }
}