.info__nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav__button {
        display: block;
        width: $NavButtonSize;
        min-width: $minNavButtonSize;
        max-width: $maxNavButtonSize;
        height: $NavButtonSize;
        min-height: $minNavButtonSize;
        max-height: $maxNavButtonSize + $infoNavPad;
        background-color: #fff;
        transition: .25s;
        position: relative;
        top: 0;
        left: 0;
        @extend %nav__item_borders;

        background-size: $navImgSize;
        background-repeat: no-repeat;
        background-position: center;
    }

    .nav__button:hover {
        background-color: orange;
    }

    .nav__button:active {
        @extend %nav__item-active;
    }

    .nav__button:last-child:active {
        @extend %nav__item_borders;
        top: 0;
        left: 0;
    }

    .pen-button {
        background-image: url('../img/nav/pen.png');
    }

    .eraser-button {
        background-image: url('../img/nav/eraser.png');
    }

    .clear-button {
        background-image: url('../img/nav/trash.png');
    }

    .active-button {
        background-color: orange;
    }

    .line-width {
        position: relative;

        .line-width__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            width: calc(100% - 2rem);
            height: calc(100% - 2rem);
            margin: 0 auto;

            .line-width__item {
                width: 100%;
                background-color: #000;
                margin-bottom: $lineWeightMargin;
            }

            .line-width__item:first-child {
                height: 5px;
            }

            .line-width__item:nth-child(2) {
                height: 8px;
            }

            .line-width__item:nth-child(3) {
                height: 11px;
            }

            .line-width__item:nth-child(4) {
                height: 14px;
                margin-bottom: 0;
            }

            .arrow,
            .line-weight_hover {
                display: block;
                position: absolute;
                opacity: 0;
                visibility: hidden;
                transition: .2s;
            }

            .arrow {
                width: 0;
                height: 0;
                border-top: $arrowSize solid transparent;
                border-bottom: $arrowSize solid transparent;
                border-left: $arrowSize solid #000;
                top: calc(50% - 14px);
                left: 100%;
            }

            .line-weight_hover {
                width: $lineWeightSize;
                bottom: 0;
                left: calc(100% + 14px);
                background-color: #fff;
                z-index: 1;
                padding: 20px;
                @extend %nav__item_borders;

                &__item {
                    width: 100%;
                    background-color: #000;
                    margin-bottom: $lineItemWeightMargin;
                }

                @for $i from 1 to $numberOfLines+1 {
                    &__item:nth-child(#{$i}) {
                        height: $minLineWeight + $nextLineDelta * $i;
                    }
                }

                &__item:last-child {
                    margin-bottom: 0;
                }
            }

            .line-weight_hover__item:hover {
                outline: 1px solid #000;
            }
        }
    }

    .line-width:hover {

        .arrow,
        .line-weight_hover {
            visibility: visible;
            opacity: 1;
        }
    }
}

.info__nav button:nth-child(n) {
    margin-bottom: $navButtonMargin;
}

.info__nav button:last-child {
    margin-bottom: 0;
}

.info__nav_padding {
    padding: calc(0px + 20*(100vw - 320px) / (1366 - 320));
    padding-right: calc(5px + 20*(100vw - 320px) / (1366 - 320)) // 5px -- $navButtonBorder + $navButtonBoxShadow;
}