%nav__item_borders {
    border: $navButtonBorder solid #000;
    border-radius: $navButtonRadius;
    box-shadow: $navButtonBoxShadow $navButtonBoxShadow 0 $navButtonBoxShadow #000;
}

%nav__item-active {
    transition: .15s;
    top: $navButtonBoxShadow;
    left: $navButtonBoxShadow;
    box-shadow: 1px 1px 0 1px #000;
}