$maxWidth: 100vw;
// title
$lineHeight: 8rem;
// info__nav
$infoNavPad: 20px;
// nav__button
// button size
$NavButtonSize: 6vw;
$minNavButtonSize: 70px;
$maxNavButtonSize: 100px;
//
$navButtonRadius: 20px;
$navImgSize: 80%;
$navButtonMargin: 20px;
$navButtonBorder: 2px;
$navButtonBoxShadow: 3px;
// nav__button line-width
$numberOfLines: 2; // change HTML line-weight_hover
$minLineWeight: 5px;
$nextLineDelta: 20px;
$arrowSize: 14px;
$lineWeightSize: 100% * 1.5;
$lineWeightMargin: 10px;
$lineItemWeightMargin: 18px;
// canvas
// canvas size
$minCanvWidth: 305px;
$maxCanvWidth: 1300px;
//
$newMouseBorder: 2px;
$canvasShadow: 8px 8px 20px 0px #888;
$veilDuration: .3s;