$maxWidth: 100vw;
// info__nav
$infoNavPad: 20px; // ?
// nav__button
$navButtonSize: 100px; // ?
$navButtonRadius: 20px; // ?
$navImgSize: 80%; // ?
$navButtonMargin: 20px; // ?
$navButtonBorder: 2px;
$navButtonBoxShadow: 3px;
// nav__button line-width
$arrowSize: 14px;
$lineWidth: 200px; // ?
$lineWeightMargin: 10px; // ?
$lineItemWeightMargin: 18px; // ?
// canvas
$canvasShadow: 8px 8px 20px 0px #888; 