$maxWidth: 100vw;
// title
$lineHeight: 8rem;
// info__nav
$infoNavPad: 20px;
// nav__button
// button size
$NavButtonSize: 6vw;
$minNavButtonSize: 60px;
$maxNavButtonSize: 100px;
//
$navButtonRadius: 1.2rem;
$navImgSize: 80%;
$navButtonMargin: 1.5rem;
$navButtonBorder: .15rem; // also change .info__nav_padding
$navButtonBoxShadow: .2rem; // also change .info__nav_padding
// nav__button line-width
// $lineWeightPadding: 
$lineWeightBlockHeight: 9rem;
$numberOfLines: 2; // change HTML line-weight_hover
$minLineWeight: 5px;
$nextLineDelta: 20px;
$arrowSize: 14px;
$lineWeightSize: 100% * 1.5;
$lineWeightMargin: 10px;
$lineItemWeightMargin: 1rem;
// Arrow
$arrowLeft: .4rem; // also change .arrow
// content size
$contentAndCanvasSize: 80vh;
// canvas
// canvas size
$minCanvWidth: 295px;
$maxCanvWidth: 1300px;
//
$canvasShadow: 8px 8px 20px 0px #888;
$veilDuration: .3s;
// dialog window
$dialogWindowColor: #eee;
$ellipsisTransition: .3s;
$ellipsisSize: 40px;
$dialogMinWidth: 200px; // also change .content__predict-window left
$dialogHeight: 55px;
$textWindowHeight: 40px; // must be less than $dialogHeight
$textWindowBorderRadius: 7px;
$dialogWindowPadding: 10px;
$dialogWindowFontSize: 1.3rem;